<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar *ngFor="let i of userInfo">
      <div class="menu-app-account">
        <div class="menu-app-account-img">
          <div><img src="assets/imgs/profile/{{(i.photo != '') ? i.photo : 'default.jpg'}}" alt=""></div>
        </div>
        <div class="menu-app-account-info">
          <h1>{{i.name}} {{i.lname}}</h1>
          <p>{{place}}</p>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
      </button>
      <button menuClose ion-item (click)="this.logout()">
        <ion-icon name="log-out"></ion-icon> LogOut
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>